<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Create Account</h2>
        
        <form action="{{ url_for('create_account')}}" method="POST">
            <div class="form-box">
                <input type="text" name="username" placeholder="Username" required>
            </div>
            
            <div class="form-box">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            
            <button type="submit" class="submit-button">Register</button>
        </form>
        
        <div class="auth-links">
            <p>Login <a href="{{ url_for('login')}}">Login</a></p>
        </div>
    </div>
</body>
</html>