<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - Brief View</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>The MSJE Forum</h2>
        <div class="auth-button">
            {% if current_user.is_authenticated %}
                <form action="{{ url_for('logout') }}" method="GET" class="inline-form">
                    <button type="submit" class="submit-button">Logout</button>
                </form>
            {% else %}
                <form action="{{ url_for('login') }}" method="GET" class="inline-form">
                    <button type="submit" class="submit-button">Login</button>
                </form>
            {% endif %}
        </div>
        {% for item in data %}
        <div class="post">
            <h3>{{ item["title"] }}</h3>
            <p><strong>By:</strong> {{ item["user"] }}</p>
            <p>{{ " ".join(item["content"].split()[:20]) }}...</p> <!-- Show first 20 words of "content"-->
            <a href="{{ url_for('post_detail', post_id=item._id|string) }}" class="read-more">Read More</a>
        </div>
        {% endfor %}

        <!--Work on formatting--> 
        <div class="action-buttons">
            <a href="{{ url_for('search') }}" class="search-button">Search Posts</a>
            {% if current_user.is_authenticated %}
                <form action="{{ url_for('create_post') }}" method="GET" class="inline-form">
                    <button type="submit" class="submit-button">Create New Post</button>
                </form>
            {% endif %}
        </div>
    </div>
</body>
</html>

<!-- need to add button for create post -->